html {
  scroll-behavior: smooth;
}

body {
  display: block;
  background: var(--background-dark);
  transition: background-color 1s ease;
  overflow-x: hidden;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  background: var(--scroll);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(170deg, var(--light-orange), var(--orange-base));
  border-radius: 2rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(170deg, var(--crimson-red), var(--dark-red));
}

body.no-scroll {
  overflow: hidden;
}
