:root {
  --white: #fff;
  --dark: #1b2735;
  --black: #090a0f;
  --orange-base: #f24141;
  --dark-red: #d32f2f;
  --crimson-red: #c62828;
  --coral-red: #ff6f61;
  --ruby-red: #e53935;
  --magenta-red: #ff1744;
  --purple-red: #ad1457;
  --garnet-red: #b71c1c;
  --pinkish-red: #ff5252;
  --wine-red: #b22222;
  --orange-second: #ec2525;
  --otherorange: #fe4c42;
  --wine-red-less: #b14343;
  --textgray: #cccccc;
  --textgray2: #cccccc;
  --darkgray: #555;
  --gray: #cccccc;
  --lightgray: #ccccccbd;
  --scroll: #090a0f;
  --green: #adff2f;
  --radius-8: 8px;
  --teal: #3ba39d;
  --light-white: #f5f7fa;
  --light-orange: #ff8552;
  --dark-gray: #2b2b2b;
  --dark-teal: #01726f;
  --pastel-orange: #f5a06a;
  --light-gray: #ededed;
  --background-dark: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  --gradient-6: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  --gradient-5: linear-gradient(147deg, #f24141 0%, #ffe53b 74%);
  --gradient-7: linear-gradient(147deg, #ff2525 35%, #ffe53b 74%);
  --blob-color-start: rgb(255, 133, 82);
  --blob-color-end: rgb(211, 47, 47);
}
